 body {
     background-color: slategray;
 }

 .card {
     position: relative;
/* background-image: linear-gradient(to right, transparent 20%); */
    
     box-sizing: border-box;


 }
 /* .card:hover{
    filter:blur(5px);
    transition: filter 0.3s ease-in-out;
} */

 @property --angle {
     syntax: "<angle>";
     initial-value: -30deg;
     inherits: false;
 }

 @property --angle2 {
     syntax: "<angle>";
     initial-value: -30deg;
     inherits: false;
 }

 /* @property --alpha {
     syntax: "<number>";
     initial-value: 0.95;
     inherits: false;
 } */



 .card:hover::before {

     /* Optional: Change color or opacity on hover */
     filter: brightness(1.2);
     /* filter: blur(5px); */

     box-sizing: border-box;
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     transform: scale(1.03);
     height: 100%;
     width: 100%;
     z-index: -1;
     padding: 0px;
     animation: loading 3s ease-in-out;
    /* background-color:cornflowerblue; */

     background-image: conic-gradient(from var(--angle), transparent 93%, red);


 }

 .card:hover::after {

     /* Optional: Change color or opacity on hover */
     filter: brightness(1.2);


     box-sizing: border-box;
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     transform: scale(1.03);
     height: 100%;
     width: 100%;
     z-index: -1;
     padding: 0px;

     animation: loading2 3s ease-in-out;

    /* background-color:cornflowerblue; */


     background-image: conic-gradient(from var(--angle2), transparent 95%, red);


 }


 @keyframes loading {
     0% {
         --angle: -50deg;
     }

     100% {
         --angle: 65deg;
     }


 }

 @keyframes loading2 {

     0% {
         --angle2: -60deg;
     }

     100% {
         --angle2: -115deg;

     }


 }