@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import "tailwindcss";
@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;

@media (max-width: 1024px) {
  .cursor-follower {
    display: none !important;
  }
}

@keyframes scroll-dot {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(12px); opacity: 0; }
}

.animate-scroll-dot {
  animation: scroll-dot 1.8s infinite ease-in-out;
}

.font-poppins{
  font-family: 'Poppins', sans-serif;
}


@media (min-width: 768px) {
  html, body {
    cursor: auto;
  }
  

  a, button, [role="button"] {
    cursor: pointer;
  }
}


.hovering-link {
  transform: scale(1.5);
  background-color: rgba(99, 102, 241, 0.1);
  border-color: rgba(99, 102, 241, 0.8);
}



/* @theme {
  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
} */